@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
body{
    background: url(img/logs.jpg)no-repeat;
    background-size: cover;
    height: 100vh;
}

.container{
    margin-top: 100px !important;
    padding: 20px;
    background: rgba(17, 17, 17, 0.7);
    color: white;
}
.paddings{
    padding:0  20px;
}
footer{
    margin-top: 100px;
}